Repository lab-brussels-1/loruki-group-4, pull requests merged in 2022-03, with the labels that each got.

#6 Adding constraints file
  planning/constraints.md
Labels: communication, planning

#2 Cristobal's availability
  .cspell.json
  package-lock.json
  package.json
  planning/communication.md
Labels: communication

#7 adding all md files
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
  planning/userpersona.md
Labels: planning

#8 updating kiishi's communication plan
  planning/communication-plan.md
Labels: communication, planning

#17 uploading readme file
  .cspell.json
  README.md
  index.html
  pictures/Loruki.png
Labels: readme

#19 uploading the design
  pictures/Design.png
  planning/design.md
Labels: design

#27 header, nav bar and form
  .cspell.json
  index.html
  planning/design.md
  styles/style.css
Labels: title, form, CSS, HTML, navigation bar
