Repository lab-brussels-1/loruki-group-4, pull requests merged in 2022-04, with the labels that each got.

#29 Adding development strategy md file
  planning/development-strategy.md
Labels: planning

#31 Adding the content with statistics and showcase
  index.html
  pictures/cli.png
  styles/style.css
Labels: CSS, HTML

#32 Adding the remaining info and the languages
  index.html
  pictures/clojure.png
  pictures/cloud.png
  pictures/csharp.png
  pictures/node.png
  pictures/php.png
  pictures/python.png
  pictures/ruby.png
  pictures/scala.png
  styles/style.css
Labels: CSS, HTML

#35 Footer added with the necessary animations
  index.html
  styles/style.css
Labels: CSS, HTML

#37 Adding animations to the website
  styles/style.css
Labels: CSS

#39 Added logo
  index.html
  styles/style.css
Labels: CSS

#41 Features Header
  .vscode/settings.json
  features.html
Labels: HTML

#45 adding icons to the demo form
  .cspell.json
  index.html
Labels: form, HTML

#47 Adding the "features" design
  pictures/features-design.png
  planning/design.md
Labels: planning, design

#48 add features icon
  .DS_Store
  features.html
  pictures/.DS_Store
  pictures/features icon.png
Labels: HTML

#51 updating small errors in the md files
  index.html
  planning/constraints.md
  planning/development-strategy.md
Labels: planning, md

#50 adding features sub header
  .DS_Store
  features.html
  pictures/.DS_Store
  pictures/sub header icon.png
  styles/style.css
Labels: HTML

#53 Added changes for mobile rsponsive
  features.html
  styles/style.css
Labels: CSS, HTML

#55 Added Retrospective file
  features.html
  planning/retrospective.md
  styles/style.css
Labels: planning, md

#57 Final corrections made
  features.html
  index.html
  planning/backlog.md
  styles/style.css
Labels: planning, CSS, HTML
